@import"common.scss";
@import"minxin.scss";
html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: pxTorem(44px);
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 pxTorem(10px);
    box-sizing: border-box;
    span,
    i {
        font-size: pxTorem(14px);
        color: #fff;
    }
}

.section {
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .banner {
        width: 100%;
        height: pxTorem(150px);
        .swiper-container {
            width: 100%;
            height: 100%;
            .swiper-wrapper {
                height: 100%;
            }
        }
    }
    .nav {
        width: 100%;
        height: pxTorem(150px);
        display: flex;
        flex-wrap: wrap;
        padding: pxTorem(10px) pxTorem(2px);
        box-sizing: border-box;
        dl {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            dt {
                width: pxTorem(45px);
                height: pxTorem(45px);
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .list {
        flex: 1;
        width: 100%;
        overflow: hidden;
        dl {
            width: 100%;
            display: flex;
            padding: pxTorem(5px) pxTorem(5px);
            box-sizing: border-box;
            dt {
                width: pxTorem(105px);
                height: pxTorem(105px);
                >img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}